/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.service-title{
  background-color: blue;
  color: white;
  padding: 3rem;
  
}

header {
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

header p {
  font-size: 1.25rem;
  color: #555;
}


.landing-section {
  padding: 2rem 0;
}

.landing-section img {
  max-width: 100%;
  height: auto;
}

.landing-section .display-4 {
  font-size: 3rem;
  font-weight: bold;
}

.landing-section .lead {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255,255,255,1);
}

section {
  padding: 4rem 0;
}

section h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
footer {
  background-color: #8B4513;
  color: #fff;
}

footer {
  margin: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover{
  text-decoration: underline;
}

.services-section mb-5 .h2s{
background-color: aquamarine;
}

